In [1]:
import pandas as pd #pandas is a liberary that use to read dataset file and tabular column. assign pandas as pd

In [2]:
dataset=pd.read_csv("Salary_Data.csv") #the dataset save in csv format (csv-comma separeated value).made pd to read the dataset(Salary_Data.csv).
#give a variable name (dataset) to assgin read dataset.

In [3]:
dataset #called the varible to see the input

    Years of experience  Salary
0                   1.1   39343
1                   1.3   46205
2                   1.5   37731
3                   2.0   43525
4                   2.2   39891
5                   3.0   60150
6                   3.2   54445
7                   3.2   64445
8                   3.7   57189
9                   3.9   63218
10                  4.0   55794
11                  4.0   56957
12                  4.1   57081
13                  4.5   61111
14                  4.9   67938
15                  5.1   66023
16                  5.3   83088
17                  5.9   81363
18                  6.0   93940
19                  6.8   91738
20                  7.1   98273
21                  7.9  101302
22                  8.2  113812
23                  8.7  109431
24                  9.0  105582
25                  9.5  116969
26                  9.6  112635
27                 10.3  122391
28                 10.5  121872

In [4]:
independent=dataset[["Years of experience"]]# splitting the input from dataset substitute respective column name and to assign to independent variable name
independent

    Years of experience
0                   1.1
1                   1.3
2                   1.5
3                   2.0
4                   2.2
5                   3.0
6                   3.2
7                   3.2
8                   3.7
9                   3.9
10                  4.0
11                  4.0
12                  4.1
13                  4.5
14                  4.9
15                  5.1
16                  5.3
17                  5.9
18                  6.0
19                  6.8
20                  7.1
21                  7.9
22                  8.2
23                  8.7
24                  9.0
25                  9.5
26                  9.6
27                 10.3
28                 10.5

In [5]:
dependent=dataset[["Salary"]] # splitting output from the dataset with respective column name (salary) to assign with dependent varible name and called the vari
dependent#called the varible name(dependent)

    Salary
0    39343
1    46205
2    37731
3    43525
4    39891
5    60150
6    54445
7    64445
8    57189
9    63218
10   55794
11   56957
12   57081
13   61111
14   67938
15   66023
16   83088
17   81363
18   93940
19   91738
20   98273
21  101302
22  113812
23  109431
24  105582
25  116969
26  112635
27  122391
28  121872

In [6]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)#splitting into two test and train set.made the model to
#learn with train set and test set to exam the model. sklearn is liberary that contain lots of folder (model_selection) from that folder import function
#(train_test_split)

In [7]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,y_train) #sklearn is liberary that contain lots folder(linear_model) from that folder import function (LinearRegression) assign
#LingerRegressor to variable name regressor.X_train,y_train pass inside the parameter

LinearRegression()

In [8]:
y_pred=regressor.predict(X_test) #exam the regressor. made the regressor to predict the X_test answer

In [10]:
from sklearn.metrics import r2_score
r2score=r2_score(y_pred,y_test)
r2score # sklearn is liberary the contain lots folder(metrics) from the folder import r2_score that exam the model how it learn and give the result and 
# the model is completely made

0.9754895339550995

In [11]:
import pickle
filename="final_model_SLR.sav" #pickle is liberary that use save and deplyoment the model.here assign a name for the model (final_model_SLR) shouold 
#should save in .sav

In [12]:
pickle.dump(regressor,open(filename,"wb")) #here opening the regressor in pickle liberary and the filename

In [13]:
load_model=pickle.load(open("final_model_SLR.sav","rb")) # loding the model ( final_model_SLR..save) and giving the new inuput to predict,to check the
#prediction is correct or not 
result=load_model.predict([[13]])

C:\Users\ADMIN\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(